@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="Create">Novo cliente</a>
    </div>
    <br />
    <h1 class="display-4">Clientes</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col">Renda familiar</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Lucas Giraldi</td>
                <td>123.123.123-12</td>
                <td>15/11/1990</td>
                <td>17/04/2023</td>
                <td>10.000,00</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Cliente" asp-action="Update">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Cliente" asp-action="Delete">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Guilherme Soranzo</td>
                <td>123.123.123-12</td>
                <td>15/11/1990</td>
                <td>17/04/2023</td>
                <td>12.000,00</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Cliente" asp-action="Update">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Cliente" asp-action="Delete">Apagar</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Victor Hermann</td>
                <td>123.123.123-12</td>
                <td>15/11/1990</td>
                <td>17/04/2023</td>
                <td>7.000,00</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Cliente" asp-action="Update">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Cliente" asp-action="Delete">Apagar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>

